
*{
    font-family: 'Jost', sans-serif;
}
.h11{
    color: red;
}

.Imagen-Registro-Logo{
    width: 80%;
    height: 100%;
}
.div-padre-formulario{
    background-color: #00304E;
    width: 100%;
    height: 100%;
}
.titulo-registro{
    color: white;
}
.input-registro{
    background-color: #00304E;
    border: 4px solid #D9D9D9;
    border-radius: 50px;
    width: 500px;
    height: 45px;
}
label{
    color: white;
    font-size: x-large;
}
.btn-registrarse{
    background-color: #D9D9D9;
    color: #00304E;
    border-radius: 50px;
    font-size: x-large;
    width: 100%;

}
.p-login{
    color: white;
}